{% extends 'base.html.twig' %}

{% block title %}Nouvelle équipe{% endblock %}
{% block h1 %}Nouvelle équipe{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {% for message in app.flashes('error') %}
            <div class="text-red-600 text-sm font-bold mt-4">{{ message }}</div>
        {% endfor %}
        <div class="grid grid-cols-3 gap-1 mt-12 text-center">
            <div class="col-span-3 text-xl font-bold">
                {{ form_label(form.name) }}
            </div>
            <div class="col-span-3">
                {{ form_widget(form.name, {'attr':{'class':'p-1 text-purple-fm rounded-sm'}}) }}
            </div>
        </div>
        <div class="grid grid-cols-3 gap-1 mt-12 text-center">
            <div class="col-span-3 text-red-800">
                {{ form_errors(form.logo) }}
            </div>
            <div class="col-span-3 text-xl font-bold">
                {{ form_label(form.logo) }}
            </div>
            <div class="col-span-3">
                {{ form_widget(form.logo, {'attr':{'class':'p-1 text-white rounded-sm'}}) }}
            </div>
            <div class="col-span-3 text-xs">
                {{ form_help(form.logo) }}
            </div>
        </div>
        <div class="mt-6 m-auto">
            {{ form_row(form.save, {'attr':{'class':'btn btn-primary bg-pink-fm p-2 rounded-md shadow-md font-bold transition-all transition-duration-150 hover:bg-pink-fm-light'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}